<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./Tests/bootstrap.php" colors="true">
    <!-- Les fichiers de tests à lancer -->
    <testsuites>
        <testsuite name="TbbcMoneyBundle test suite">
            <directory suffix="Test.php">./Tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <server name="KERNEL_DIR" value="./Tests/app/" />
        <env name="KERNEL_CLASS" value="AppKernel" />
    </php>
    <!-- Quels fichiers sont concernés par l'évaluation du code coverage -->
    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Resources</directory>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
