name: Code_Checks

# Controls when the workflow will run
on:
  schedule:
    # minute, hour, day of month, month, weekday
    # run every night at 5:15
    - cron: '15 5 * * *'

  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  contents: read

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: ['8.4']
        stability: [ prefer-stable ]
        mongodb-version: ['7.0']
        symfony-version: ['7.0.*']
        include:
          - php: '8.1'
            mongodb-version: '7.0'
            symfony-version: 5.4.*
            stability: prefer-lowest
          - php: '8.1'
            mongodb-version: '7.0'
            symfony-version: 5.4.*
            stability: prefer-stable
          - php: '8.1'
            mongodb-version: '7.0'
            symfony-version: 6.4.*
            stability: prefer-stable
          - php: '8.2'
            mongodb-version: '7.0'
            symfony-version: 7.0.*
            stability: prefer-stable
          - php: '8.3'
            mongodb-version: '7.0'
            symfony-version: 7.0.*
            stability: prefer-stable
          - php: '8.4'
            mongodb-version: '7.0'
            symfony-version: 7.0.*
            stability: prefer-stable
          - php: '8.5'
            mongodb-version: '7.0'
            symfony-version: 7.3.*
            stability: prefer-stable

    name: PHP ${{ matrix.php }} - ${{ matrix.symfony-version }} - ${{ matrix.stability }}
    steps:
      # basically git clone
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5

      - name: Cache dependencies
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 #v4
        with:
          path: ~/.composer/cache/files
          key: dependencies-php-${{ matrix.php }}-composer-${{ hashFiles('composer.json') }}

      # use PHP of specific version
      - uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f #v2
        with:
          php-version: ${{ matrix.php }}
          # we need an older mongodb for symfony 5.4 and php 8.1 tests
          extensions: pcov, curl, mongodb-${{ matrix.symfony-version == '5.4.*' && '1.19.4' || 'stable' }}
          coverage: pcov

      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@90004df786821b6308fb02299e5835d0dae05d0d #1.12.0
        with:
          mongodb-version: ${{ matrix.mongodb-version }}

      - name: Install dependencies
        env:
          SYMFONY_REQUIRE: ${{ matrix.symfony-version }}
        run: |
          composer global config --no-plugins allow-plugins.symfony/flex true
          composer global require --no-progress --no-scripts --no-plugins symfony/flex
          composer update --no-interaction --prefer-dist
          vendor/bin/simple-phpunit install

      - name: Execute tests
        env:
          SYMFONY_DEPRECATIONS_HELPER: 'weak'
        run: vendor/bin/phpunit --coverage-text


  cs-and-rector:
    runs-on: ubuntu-latest

    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the changed files back to the repository.
      contents: write

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5

      - uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f #v2
        with:
          php-version: 8.4
          coverage: none

      - name: Cache dependencies
        id: composer-cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 #v4
        with:
          path: vendor
          key: dependencies-php-8.4-composer-${{ hashFiles('composer.json') }}

      - run: |
          composer install --prefer-dist --no-progress
          composer cs-fix
          composer rector-fix

      - uses: stefanzweifel/git-auto-commit-action@28e16e81777b558cc906c8750092100bbb34c5e3 #v7
        with:
          commit_message: Apply CS/Rector changes

  phpstan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5
      - uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f #v2
        with:
          php-version: 8.4
          coverage: none
      - run: composer install --no-progress
      - run: vendor/bin/phpstan analyse --memory-limit=-1
